<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<section class="menuDetails">Lorem ipsum dolor sit amet. Sed rerum quia non vero
			exercitationem ea explicabo officiis eos aliquam placeat est dicta
			fugiat hic facilis quia. Qui magnam quidem ea culpa Quis et iste
			molestias non eaque ipsum et ullam dolor hic fuga dolores quo iure
			enim.
			<br><br>
		</section>	
			<h1>Menu Name</h1>
				<div class="cart">

				</div>
		
	</div>
</body>
</html>